@model Common.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Họ và tên
        </dt>
        <dd class="col-sm-10">
            @Model.FullName
        </dd>
        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>
        <dt class="col-sm-2">
            SĐT
        </dt>
        <dd class="col-sm-10">
            @Model.Phone
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Hình ảnh
        </dt>
        <dd class="col-sm-10">
            <img src="~/img/user/@Model.UserImage" />
        </dd>
        <dt class="col-sm-2">
            Tài khoản
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            Mật khảu
        </dt>
        <dd class="col-sm-10">
            @Model.PassWord
        </dd>
        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Model.CreateOn
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        @if (Model.StatusUser == true)
        {
            <dd class="col-sm-10">
                Đang hoạt động
            </dd>
        }
        @if (Model.StatusUser == false)
        {
            <dd class="col-sm-10">
                Khóa
            </dd>
        }
        <dt class="col-sm-2">
            Quyền
        </dt>
        <dd class="col-sm-10">
            @Model.RoleName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Email">Chỉnh sửa</a> |
    <a asp-action="Index">Quay trở lại</a>
</div>
