@model IEnumerable<Common.Model.UserModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
}
<h1>Danh sách người dùng</h1>

<div>
    <a asp-action="Create"><i class="plus-square">Thêm người dùng</i></a>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Tìm kiếm</h3>
            @using (Html.BeginForm("Index", "User", FormMethod.Get))
            {
                <div class="input-group">
                    <input id="txtKeyword" type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm ..." name="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Họ và tên
            </th>
            <th>
                Quyền
            </th>
            <th>
                Sđt
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                @if (item.RolesId == 1)
                {
                    <td><p class="btn btn-danger">Quản trị</p></td>

                }
                @if (item.RolesId == 2)
                {
                    <td><p class="btn btn-primary">Người dùng</p></td>

                }
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    <img class="img-thumbnail" src="~/img/user/@item.Avarta" />
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td><a href="#" class="btn-active" data-id="@item.Id">@Html.Raw(item.Status ? "<strong>Kích hoạt</strong>" : "Khoá")</a></td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/Admin/img/edit-a.png" /></a>
                    <br />
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/Admin/img/list.png" /></a>
                    <br />
                    <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/Admin/img/trash-bin.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex w-100 justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "User", new { page, @Search = ViewBag.Search }))
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Admin/js/jquery-ui.js"></script>
    <script src="~/Admin/js/controller/userController.js"></script>
}




