@model IEnumerable<Common.Model.UserModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
}
<style>
  
</style>
<h1>Index</h1>
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
<div class=" p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
    <form asp-action="Index" asp-controller="Us" class="form-inline mr-auto w-100 navbar-search">
        <div class="input-group">
            <input id="txtKeyword" name="Search" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </div>
        </div>
    </form>
</div>
}
<p>
    
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                FullName
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Avarta
            </th>
            <th>
                CreatedOn
            </th>
            <th>
                UpdatedOn
            </th>
            <th>
                Status
            </th>
            <th>
                Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                   <img class="img-thumbnail" src="~/img/user/@item.Avarta"/> 
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td>
                    @item.UpdatedOn
                </td>
                <td><a href="#" class="btn-active" data-id="@item.Id">@Html.Raw(item.Status ? "<strong>Kích hoạt</strong>" : "Khoá")</a></td>
                <td>
                    @item.RolesId
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex w-100 justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "User", new { page, @Search = ViewBag.Search }))
</div>
@section Scripts{

    <script src="~/Admin/js/controller/userController.js"></script>
}

