<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_HeadPartial.cshtml" />
    @RenderSection("CSS", required: false)
</head>
<body class="cnt-home">
    <partial name="_HeaderPartial.cshtml" />
    <div class="body-content outer-top-xs" id="top-banner-and-menu">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        @RenderSection("Scripts", required: false)
        @RenderSection("JS", required: false)
        <partial name="_FooterPartial.cshtml" />
    </div>
</body>
</html>
