@model caothang.Areas.Admin.Models.SanPhamModel;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>