
@model List<caothang.Models.GioHang>
@{
    var b = Context.Session.GetString("CartSession");
    var a = ViewBag.giohang as List<caothang.Models.GioHang>;
}
@using Microsoft.AspNetCore.Http
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Giỏ Hàng</h1>
    </div>
</section>
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">img </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (b != null)
                        {
                            foreach (var item in a)
                            {
                                int tong = 0;
                                int gia = decimal.ToInt32(item.SanPham.DonGia);
                                int total = gia * item.Quality;
                                tong += total;
                                <tr>
                                    <td class="image" data-title="No"><img src="~img/@item.SanPham.HinhAnh" alt="@item.SanPham.HinhAnh"></td>
                                    <td class="product-des" data-title="Description">
                                        <p class="product-name"><a href="#">@item.SanPham.TenSP</a></p>
                                        <p class="product-des">@item.SanPham.LoaiSanPham</p>
                                    </td>

                                    <td class="qty" data-title="Qty">
                                        <!-- Input Order -->
                                        <div class="input-group">
                                            <div class="button minus">
                                                <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                    <i class="ti-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="100" value="@item.Quality">
                                            <div class="button plus">
                                                <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                                    <i class="ti-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!--/ End Input Order -->
                                    </td>
                                    <td class="total-amount" data-title="Total"><span>$@total</span></td>
                                    <td class="action" onClick="alert('Xóa thành công sản phẩm @item.SanPham.TenSP');" data-title="Remove"><a asp-controller="Home" asp-action="DeleteCart" asp-route-id="@item.SanPham.MaSP"><i class="ti-trash remove-icon"></i></a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <span class="btn-warning">Oppos! Bạn chưa có sản phẩm nào</span>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            @if (b != null)
                            {
                                @foreach (var item in a)
                                {
                                    int Tong = 0;
                                    int gia = decimal.ToInt32(item.SanPham.DonGia);
                                    int total = gia * item.Quality;
                                    Tong += total;
                                    <div class="right">
                                        <ul>
                                            <li class="last">Tổng tiền của bạn<span>$@Tong</span></li>
                                        </ul>
                                        <div class="button5">
                                            <a href="#" class="btn">Checkout</a>
                                            <a href="#" class="btn">Continue shopping</a>
                                        </div>
                                    </div>} 
                            }
                            else
                            {
                                <div class="right">
                                    <ul>
                                        <li class="last">Tổng tiền của bạn<span></span></li>
                                    </ul>
                                    <div class="button5">
                                        <a href="#" class="btn">Checkout</a>
                                        <a href="#" class="btn">Continue shopping</a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
        @*<div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button asp-action="index" asp-controller="Home" class="btn btn-block btn-light">Tiếp tục mua sắm</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Thanh Toán</button>
                </div>
            </div>
        </div>*@
    </div>
</div>