@model IPagedList<Common.ViewModel.OrderViewModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Đơn hàng";
}

<h1>Danh sách đơn hàng</h1>


<table class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>
                Người nhận hàng
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Hình thức nhận hàng
            </th>
            <th>
                SĐT
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Total.ToString("N0") VNĐ
                </td>
                <td>
                    @item.ShipName
                </td>
                <td>
                    @item.ShipPhone
                </td>
                <td>
                    @item.ShipEmail
                </td>
                <td>
                    @item.ShipAdress
                </td>

                <td>
                    @item.CreatedOn
                </td>

                <td><a href="#" class="btn-active" data-id="@item.OrderId">@Html.Raw(item.StatusOrder ? "<strong>Đã duyệt</strong>" : "Chưa duyệt")</a></td>
                <td>
                    <a asp-action="Index" asp-controller="Order_Details" asp-route-id="@item.OrderId"><img src="~/Admin/img/edit-a.png" /></a>
                    <br />
                    <a asp-action="Details" asp-route-id="@item.OrderId"><img src="~/Admin/img/list.png" /></a>
                    <br />
                    <a asp-action="Delete" asp-route-id="@item.OrderId"><img src="~/Admin/img/trash-bin.png" /></a>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex w-100 justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Order", new { page, size = ViewBag.currentSize, Search = ViewBag.searchValue }))
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var user = {
            init: function () {
                user.registerEvents();
            },
            registerEvents: function () {
                $('.btn-active').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    $.ajax({
                        url: "/Admin/Order/ChangeStatus",
                        data: { id: id },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            console.log(response);
                            if (response.status == true) {
                                btn.text('Đã duyệt');
                                location.reload();
                            }
                            else {
                                btn.text('Chưa duyệt');
                                location.reload();
                            }
                        }
                    });
                });
            }
        }
        user.init();
    </script>
}
