@model IPagedList<Common.ViewModel.OrderViewModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Đơn hàng";
}

<h1>Danh sách đơn hàng đã hủy</h1>


<table class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>
                Người nhận hàng
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Hình thức nhận hàng
            </th>
            <th>
                SĐT
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Total.ToString("N0") VNĐ
                </td>
                <td>
                    @item.ShipName
                </td>
                <td>
                    @item.ShipPhone
                </td>
                <td>
                    @item.ShipEmail
                </td>
                <td>
                    @item.ShipAdress
                </td>

                <td>
                    @item.CreatedOn
                </td>

                <td>
                    <a style="cursor:pointer" onclick="showModal('@Url.Action("Details","Order",new { id=item.OrderId},Context.Request.Scheme)')"><img src="~/Admin/img/list.png" /></a>
                    <br />
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex w-100 justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Order", new { page, size = ViewBag.currentSize, Search = ViewBag.searchValue }))
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
