@model IEnumerable<Common.Model.OrderModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered" width="100%"  >
    <thead>
        <tr>
            <th>
                Tổng tiền
            </th>
            <th>
                Tên
            </th>
            <th>
                SĐT
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
               Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Mã Người dùng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.Id)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
