@model IEnumerable<Common.Model.ProductModel>
@{
    ViewData["Title"] = "Create";
}
<h2>Index</h2>
<p>
    <button type="button" class="btn btn-success" onclick="showModal('@Url.Action("Create","Product",null,Context.Request.Scheme)','Thêm một sản phẩm')">Thêm sản phẩm</button>
</p>
@*@using (Html.BeginForm("Index", "Product", FormMethod.Get)) // -- phần thay đổi
    {
        <div class="row form-group">
            <div class="col-lg-12">
                <div class="col-md-4">
                    <input type="text" value="@ViewBag.Search" class="form-control" name="Search" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    <a class="btn btn-primary" href="/Admin/Product/Create">Thêm mới</a>
                </div>
            </div>
        </div>
    }*@
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Quanlity
            </th>
            <th>
                Price
            </th>
            <th>
                CreateOn
            </th>
            <th>
                UpdateOn
            </th>
            <th>
                Category
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <img class="img-thumbnail"  src="@item.Image"/>
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.CreatedOn
            </td>
            <td>
                @item.UpdatedOn
            </td>
            <td>
                @item.CategoryId
            </td>
            <td>
                @item.Status
            </td>
            <td>
                <button type="button" class="btn btn-light" onclick="showModal('@Url.Action("Edit","Product",new { id=$"{item.Id}"},Context.Request.Scheme)','Edit')">Edit</button>
                <button type="button" class="btn btn-info"  onclick="showModal('@Url.Action("Details","Product",new { id=$"{item.Id}"},Context.Request.Scheme)','Details')">Details</button>
                <button type="button" class="btn btn-danger" onclick="showModal('@Url.Action("Delete","Product",new { id=$"{item.Id}"},Context.Request.Scheme)','Delete')">Delete</button>
            </td>
        </tr>
    }
</table>
    </div>
<div class="d-flex w-100 justify-content-center">
    <pagination page-count="@ViewBag.TotalPages" page-target="/admin/product" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
</div>