@model IEnumerable<Common.Model.ProductModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Create";
}
<h2>Index</h2>
@*@using (Html.BeginForm("Index", "Product", FormMethod.Get)) // -- phần thay đổi
    {
        <div class="row form-group">
            <div class="col-lg-12">
                <div class="col-md-4">
                    <input type="text" value="@ViewBag.Search" class="form-control" name="Search" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    <a class="btn btn-primary" href="/Admin/Product/Create">Thêm mới</a>
                </div>
            </div>
        </div>
    }*@
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Quanlity
            </th>
            <th>
                Price
            </th>
            <th>
                CreateOn
            </th>
            <th>
                UpdateOn
            </th>
            <th>
                Category
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in ViewBag.products)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <img class="img-thumbnail"  src="~/img/sanpham/@item.Image"/>
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.CreatedOn
            </td>
            <td>
                @item.UpdatedOn
            </td>
            <td>
                @item.CategoryId
            </td>
            <td>
                @item.Status
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
    </div>
<div class="row">
    <div class="col-md12">
        @Html.PagedListPager((IPagedList)ViewBag.products, page => Url.Action("Index", "Product", new { page = page }))
    </div>
</div>