@model IEnumerable<Common.Model.ProductModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<link href="~/Admin/css/jquery.dataTables.min.css" />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Slug
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                PriceOld
            </th>
            <th>
                Image
            </th>
            <th>
                CreatedOn
            </th>
            <th>
                Category
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceOld)
                </td>
                <td>
                    <img class="img-thumbnail" src="~/img/sanpham/@item.Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex w-100 justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Product", new { page, @Search = ViewBag.Search }))
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/Admin/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/js/controller/productController.js"></script>
}
