@model IPagedList<Common.ViewModel.OrderViewModel>
@using X.PagedList;
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
}

<h1>Chi tiết đơn hàng</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Mã hóa đơn
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.OrderId
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Price.ToString("N0") VNĐ
                </td>
                <td>
                    @item.CreatedOn
                </td>

                <td><a href="#" class="btn-active" data-id="@item.Order_DetailId">@Html.Raw(item.StatusOrder ? "<strong>Đã duyệt</strong>" : "Chờ duyệt")</a></td>
                <td>
                    <br />
                    <a asp-action="Details" asp-route-id="@item.Order_DetailId"><img src="~/Admin/img/list.png" /></a>
                    <br />
                    <a asp-action="Delete" asp-route-id="@item.Order_DetailId"><img src="~/Admin/img/trash-bin.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var user = {
            init: function () {
                user.registerEvents();
            },
            registerEvents: function () {
                $('.btn-active').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    $.ajax({
                        url: "/Admin/Order_Details/ChangeStatus",
                        data: { id: id },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            console.log(response);
                            if (response.status == true) {
                                btn.text('Đã duyệt');
                            }
                            else {
                                btn.text('Chưa duyệt');
                            }
                        }
                    });
                });
            }
        }
        user.init();
    </script>
}

