@model Common.ViewModel.UserViewModel
@{ 
    ViewData["Title"] = "Trang cá nhân";
}
<h1>Thông tin cá nhân</h1>
<br />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Tên đầy đủ</label>
                <div >@Model.FullName</div>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label class="control-label">Tài khoản</label>
                <div >@Model.UserName</div>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label class="control-label">Quyền</label>
                <div >@Model.RoleName</div>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <div >@Model.Phone</div>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <div >@Model.Address</div>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <div >@Model.Email</div>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <img class="img-thumbnail"  src="~/img/user/@Model.UserImage"/>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label class="control-label">Ngày tạo tài khoản</label>
                <div >@Model.CreateOn</div>
            </div>
        </form>
        <div>
            <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.UserId">Chỉnh sửa thông tin cá nhân</a>
        </div>
    </div>
</div>