@model IPagedList<Common.ViewModel.OrderViewModel>
@using X.PagedList
@{
    ViewData["Title"] = "Đơn hàng của tôi";
}
@if (Model != null)
{
    <div class="row">
        <div class="shopping-cart">
            <div class="shopping-cart-table ">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Tổng tiền</th>
                                <th>Ngày mua</th>
                                <th>Trạng thái</th>
                                <th>Hủy đơn hàng</th>
                            </tr>
                        </thead><!-- /thead -->
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td><a asp-action="orderDetailsHistory" asp-controller="Order" asp-route-id="@item.OrderId">@item.OrderId</a></td>
                                <td>@item.Total.ToString("N0") VNĐ</td>
                                <td>@item.CreatedOn</td>
                                <td>@item.TransactStatusName</td>
                                @if (item.TransactStatusId == 1)
                                {
                                    <td><a class="btn btn-danger" onclick="HuyHD(@item.OrderId)">Hủy đơn hàng</a></td>
                                }
                            </tr>
                            }
                        </tbody><!-- /tbody -->
                    </table><!-- /table -->
                </div>
            </div><!-- /.shopping-cart-table -->
        </div>
    </div><!-- /.row -->
}
else
{
    <p class="alert alert-danger">Bạn chưa mua gì cả !!!</p>
}
<script>
    function HuyHD(id) {
        var r = confirm("Bạn có muốn hủy đơn hàng này không?");
        
        if (r == true) {
           $.ajax({
                "async": false,
               "crossDomain": true,
               "url": "@Url.Action("Cancel", "Order")?Id=" + id ,
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache"
               },
                "method": "POST",

           }).done(function (result) {
               if (result == true) {
                   alert("Hủy đơn hàng thành công")
                   window.location.reload();
               }
               else {
                   alert("Hủy đơn hàng thất bại")
               }
            })
        } else {
            txt = "You pressed Cancel!";
        }

    }
</script>