@model Common.Model.BlogModel

@{
    ViewData["Title"] = "Chi tiết";
}

<h1>Chi tiết bài viết</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tiêu đề
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Rút gọn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brief)
        </dd>
        <dt class="col-sm-2">
            Nội dung
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Content)
        </dd>
        <dt class="col-sm-2">
            Ngày đăng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        @if (Model.Status == true)
        {
            <dd class="col-sm-10">
                Đang hoạt động
            </dd>
        }
        @if (Model.Status == false)
        {
            <dd class="col-sm-10">
                Tạm khóa
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Quay trở lại</a>
</div>
