@model IPagedList<Common.Model.BlogModel>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách bài viết</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Tìm kiếm</h3>
            @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm ..." name="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                Tiêu đề
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Ngày đăng
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="~/img/blogs/@item.Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
            <td><a href="#" class="btn-active" data-id="@item.Id">@Html.Raw(item.Status ? "<strong>Kích hoạt</strong>" : "Khoá")</a></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/Admin/img/edit-a.png" /></a>
                <br />
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/Admin/img/list.png" /></a>
                <br />
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/Admin/img/trash-bin.png" /></a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
            </p>
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>
<div class="d-flex w-100 justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Blog", new { page, size = ViewBag.currentSize, Search = ViewBag.searchValue }))
</div>
@section Scripts{    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var product = {
        init: function () {
            product.registerEvents();
        },
        registerEvents: function () {
            $('.btn-active').off('click').on('click', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data('id');
                $.ajax({
                    url: "/Admin/Blog/ChangeStatus",
                    data: { id: id },
                    dataType: "json",
                    type: "POST",
                    success: function (response) {
                        console.log(response);
                        if (response.status == true) {
                            btn.text('Kích hoạt');
                        }
                        else {
                            btn.text('Khoá');
                        }
                    }
                });
            });
        }
    }
    product.init();
</script>
}