@model Common.ViewModel.CommentProductViewModel

@{
    ViewData["Title"] = "Chi tiết";
}

<div>
    <h4>Nội dung Bình luận</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Nội dung
        </dt>
        <dd class="col-sm-10">
         @Model.Content
        </dd>
        <dt class="col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class="col-sm-10">
            @Model.ProductName
        </dd>
        <dt class="col-sm-2">
            Tài khoản bình luận
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            Ngày bình luận
        </dt>
        <dd class="col-sm-10">
           @Model.CreateOn
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            <a href="#" class="btn-active" data-id="@Model.CommentId">@Html.Raw(Model.Status ? "<strong>Kích hoạt</strong>" : "Khoá")</a>
        </dd>
    </dl>
    
</div>
<div>
    <a asp-action="Index">Trở về</a>
    <a asp-action="Delete" asp-route-id="@Model.CommentId"><img src="~/Admin/img/trash-bin.png" /></a>
</div>
