@model IPagedList<Common.Model.CategoryModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Tìm kiếm</h3>
            @using (Html.BeginForm("Index", "Category", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm ..." name="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Tên</th>
            <th>Trạng thái</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td><a href="#" class="btn-active" data-id="@item.Id">@Html.Raw(item.Status ? "<strong>Kích hoạt</strong>" : "Khoá")</a></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/Admin/img/edit-a.png" /></a>
                    <br />
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/Admin/img/list.png" /></a>
                    <br />
                    <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/Admin/img/trash-bin.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex w-100 justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Category", new { page, size = ViewBag.currentSize, Search = ViewBag.searchValue }))
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var user = {
            init: function () {
                user.registerEvents();
            },
            registerEvents: function () {
                $('.btn-active').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    $.ajax({
                        url: "/Admin/Category/ChangeStatus",
                        data: { id: id },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            console.log(response);
                            if (response.status == true) {
                                btn.text('Kích hoạt');
                            }
                            else {
                                btn.text('Khoá');
                            }
                        }
                    });
                });
            }
        }
        user.init();
    </script>
}