
@{
    ViewData["Title"] = "Trang chủ";
    var ListSPPlayStation = (List<Common.Model.ProductModel>)ViewBag.ListSPPlayStation;
    var ListSPXbox = (List<Common.Model.ProductModel>)ViewBag.ListSPXbox;
    var ListSPNintendo = (List<Common.Model.ProductModel>)ViewBag.ListSPNintendo;
    var ListAll = (List<Common.Model.ProductModel>)ViewBag.All;
    var ListNewProduct = (List<Common.Model.ProductModel>)ViewBag.ListNewProduct;
    var Blog = (List<Common.Model.BlogModel>)ViewBag.Blog;
}
<partial name="~/Views/Shared/_SiderBarPartial.cshtml" />
<div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
    <!-- ========================================== SECTION – HERO ========================================= -->
    <div id="hero">
        <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
            <div class="item" style="background-image: url(img/banner/banner_slide_1.jpg);">
                <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                        <div class="slider-header fadeInDown-1">@*Top Brands*@</div>
                        <div class="big-text fadeInDown-1"> @*New Collections*@ </div>
                        <div class="excerpt fadeInDown-2 hidden-xs"> <span>@*Lorem ipsum dolor sit amet, consectetur adipisicing elit.*@</span> </div>
                    </div>
                    <!-- /.caption -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.item -->

            <div class="item" style="background-image: url(img/banner/banner_slide_2.jpg);">
                <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                        <div class="slider-header fadeInDown-1">@*Spring 2016*@</div>
                        <div class="big-text fadeInDown-1"> @*Women*@ <span class="highlight">@*Fashion*@</span> </div>
                        <div class="excerpt fadeInDown-2 hidden-xs"> <span>@*Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit*@</span> </div>
                    </div>
                    <!-- /.caption -->
                </div>
                <!-- /.container-fluid -->
            </div>

            <div class="item" style="background-image: url(img/banner/banner_slide_3.jpg);">
                <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                        <div class="slider-header fadeInDown-1">@*Spring 2016*@</div>
                        <div class="big-text fadeInDown-1"> @*Women*@ <span class="highlight">@*Fashion*@</span> </div>
                        <div class="excerpt fadeInDown-2 hidden-xs"> <span>@*Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit*@</span> </div>
                    </div>
                    <!-- /.caption -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.item -->

        </div>
        <!-- /.owl-carousel -->
    </div>

    <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
        <div class="more-info-tab clearfix ">
            <h3 class="new-product-title pull-left">Tất cả sản phẩm</h3>
            <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
                <li class="active"><a data-transition-type="backSlide" href="#all" data-toggle="tab">Tất cả</a></li>
                <li><a data-transition-type="backSlide" href="#playstation" data-toggle="tab">PlayStation</a></li>
                <li><a data-transition-type="backSlide" href="#xbox" data-toggle="tab">Xbox</a></li>
                <li><a data-transition-type="backSlide" href="#nintendo" data-toggle="tab">Nintendo</a></li>
            </ul>
            <!-- /.nav-tabs -->
        </div>
        <div class="tab-content outer-top-xs">
            <div class="tab-pane in active" id="all">
                <div class="product-slider">
                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                        @foreach (var sanpham in ListAll)
                        {
                            <div class="item item-carousel">
                                <div class="products">
                                    <div class="product">
                                        <div class="product-image">
                                            <div class="image"> <a asp-action="details" asp-controller="product" asp-route-slug="@sanpham.Slug"><img src="~/img/sanpham/@sanpham.Image" alt=""></a> </div>
                                            <!-- /.image -->
                                        </div>
                                        <!-- /.product-image -->

                                        <div class="product-info text-left">
                                            <h3 class="name"><a asp-controller="product" asp-action="details" asp-route-slug="@sanpham.Slug">@sanpham.Name</a></h3>
                                            <div class="description"></div>
                                            <div class="product-price"> <span class="price"> @sanpham.Price.ToString("N0")VNĐ </span>  </div>
                                            <!-- /.product-price -->

                                        </div>
                                        <!-- /.product-info -->
                                        <div class="cart clearfix animate-effect">
                                            <div class="action">
                                                <ul class="list-unstyled">
                                                    <li class="add-cart-button btn-group">
                                                        @if (sanpham.Quantity > 0)
                                                        {
                                                            <button class="btn btn-primary icon ajax-add-to-cart" data-id="@sanpham.Id"> <i class="fa fa-shopping-cart"></i> </button>
                                                            <a class="btn btn-primary cart-btn">Thêm vào giỏ hàng</a>
                                                        }
                                                        else
                                                        {
                                                        <li class="lnk wishlist"> <a style="color:#d9534f;" class="add-to-cart outstock" title="Hết hàng"> <i class="fas fa-window-close inner-right-vs"></i> </a> </li>
                                                    }

                                                        <li class="lnk wishlist"> <a class="add-to-cart" asp-controller="wishlist" asp-action="addwishtlist" asp-route-id="@sanpham.Id" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                                        <li class="lnk"> <a class="add-to-cart" asp-controller="product" asp-action="details" asp-route-slug="@sanpham.Slug" title="Chi tiết"> <i class="fa fa-signal"></i> </a> </li>
                                                    </ul>
                                                </div>
                                                <!-- /.action -->
                                            </div>
                                            <!-- /.product-info -->
                                            <!-- /.cart -->
                                        </div>
                                        <!-- /.product -->

                                    </div>
                                    <!-- /.products -->
                                </div>
                                <!-- /.item -->
                            }
                    </div>
                    <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="playstation">
                <div class="product-slider">
                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                        @foreach (var sanpham in ListSPPlayStation)
                        {
                            <div class="item item-carousel">
                                <div class="products">
                                    <div class="product">
                                        <div class="product-image">
                                            <div class="image"> <a asp-action="details" asp-controller="product"><img src="~/img/sanpham/@sanpham.Image" alt=""></a> </div>
                                            <!-- /.image -->
                                        </div>
                                        <!-- /.product-image -->

                                        <div class="product-info text-left">
                                            <h3 class="name"><a asp-controller="product" asp-action="details" asp-route-slug="@sanpham.Slug">@sanpham.Name</a></h3>
                                            <div class="description"></div>
                                            <div class="product-price"> <span class="price"> @sanpham.Price.ToString("N0")VNĐ </span>  </div>
                                            <!-- /.product-price -->

                                        </div>
                                        <!-- /.product-info -->
                                        <div class="cart clearfix animate-effect">
                                            <div class="action">
                                                <ul class="list-unstyled">
                                                    <li class="add-cart-button btn-group">
                                                        @if (sanpham.Quantity > 0)
                                                        {
                                                            <button class="btn btn-primary icon ajax-add-to-cart" data-id="@sanpham.Id"> <i class="fa fa-shopping-cart"></i> </button>
                                                            <a class="btn btn-primary cart-btn">Thêm vào giỏ hàng</a>
                                                        }
                                                        else
                                                        {
                                                        <li class="lnk wishlist"> <a style="color:#d9534f;" class="add-to-cart outstock" title="Hết hàng"> <i class="fas fa-window-close inner-right-vs"></i> </a> </li>
                                                    }

                                                        <li class="lnk wishlist"> <a class="add-to-cart" asp-controller="wishlist" asp-action="addwishtlist" asp-route-id="@sanpham.Id" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                                        <li class="lnk"> <a class="add-to-cart" asp-controller="product" asp-action="details" asp-route-slug="@sanpham.Slug" title="Chi tiết"> <i class="fa fa-signal"></i> </a> </li>
                                                    </ul>
                                                </div>
                                                <!-- /.action -->
                                            </div>
                                            <!-- /.cart -->
                                        </div>
                                        <!-- /.product -->

                                    </div>
                                    <!-- /.products -->
                                </div>
                                <!-- /.item -->
                            }
                    </div>
                    <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="xbox">
                <div class="product-slider">
                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                        @foreach (var sanpham in ListSPXbox)
                        {
                            <div class="item item-carousel">
                                <div class="products">
                                    <div class="product">
                                        <div class="product-image">
                                            <div class="image"> <a asp-action="details" asp-controller="product" asp-route-slug="@sanpham.Slug"><img src="~/img/sanpham/@sanpham.Image" alt=""></a> </div>
                                            <!-- /.image -->
                                        </div>
                                        <!-- /.product-image -->

                                        <div class="product-info text-left">
                                            <h3 class="name"><a href="#">@sanpham.Name</a></h3>
                                            <div class="description"></div>
                                            <div class="product-price"> <span class="price"> @sanpham.Price.ToString("N0")VNĐ </span></div>
                                            <!-- /.product-price -->

                                        </div>
                                        <!-- /.product-info -->
                                        <div class="cart clearfix animate-effect">
                                            <div class="action">
                                                <ul class="list-unstyled">
                                                    <li class="add-cart-button btn-group">
                                                        @if (sanpham.Quantity > 0)
                                                        {
                                                            <button class="btn btn-primary icon ajax-add-to-cart" data-id="@sanpham.Id"> <i class="fa fa-shopping-cart"></i> </button>
                                                            <a class="btn btn-primary cart-btn">Thêm vào giỏ hàng</a>
                                                        }
                                                        else
                                                        {
                                                        <li class="lnk wishlist"> <a style="color:#d9534f;" class="add-to-cart outstock" title="Hết hàng"> <i class="fas fa-window-close inner-right-vs"></i> </a> </li>
                                                    }

                                                        <li class="lnk wishlist"> <a class="add-to-cart" asp-controller="wishlist" asp-action="addwishtlist" asp-route-id="@sanpham.Id" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                                        <li class="lnk"> <a class="add-to-cart" asp-controller="product" asp-action="details" asp-route-slug="@sanpham.Slug" title="Chi tiết"> <i class="fa fa-signal"></i> </a> </li>
                                                    </ul>
                                                </div>
                                                <!-- /.action -->
                                            </div>
                                            <!-- /.cart -->
                                        </div>
                                        <!-- /.product -->

                                    </div>
                                    <!-- /.products -->
                                </div>
                                <!-- /.item -->
                            }
                    </div>
                    <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="nintendo">
                <div class="product-slider">
                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                        @foreach (var sanpham in ListSPNintendo)
                        {
                            <div class="item item-carousel">
                                <div class="products">
                                    <div class="product">
                                        <div class="product-image">
                                            <div class="image"> <a asp-action="details" asp-controller="product" asp-route-slug="@sanpham.Slug"><img src="~/img/sanpham/@sanpham.Image" alt=""></a> </div>
                                            <!-- /.image -->
                                        </div>
                                        <!-- /.product-image -->

                                        <div class="product-info text-left">
                                            <h3 class="name"><a href="#">@sanpham.Name</a></h3>
                                            <div class="description"></div>
                                            <div class="product-price"> <span class="price"> @sanpham.Price.ToString("N0")VNĐ </span>  </div>
                                            <!-- /.product-price -->

                                        </div>
                                        <!-- /.product-info -->
                                        <div class="cart clearfix animate-effect">
                                            <div class="action">
                                                <ul class="list-unstyled">
                                                    <li class="add-cart-button btn-group">
                                                        @if (sanpham.Quantity > 0)
                                                        {
                                                            <button class="btn btn-primary icon ajax-add-to-cart" data-id="@sanpham.Id"> <i class="fa fa-shopping-cart"></i> </button>
                                                            <a class="btn btn-primary cart-btn">Thêm vào giỏ hàng</a>
                                                        }
                                                        else
                                                        {
                                                        <li class="lnk wishlist"> <a style="color:#d9534f;" class="add-to-cart outstock" title="Hết hàng"> <i class="fas fa-window-close inner-right-vs"></i> </a> </li>
                                                    }

                                                        <li class="lnk wishlist"> <a class="add-to-cart" asp-controller="wishlist" asp-action="addwishtlist" asp-route-id="@sanpham.Id" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                                        <li class="lnk"> <a class="add-to-cart" asp-controller="product" asp-action="details" asp-route-slug="@sanpham.Slug" title="Chi tiết"> <i class="fa fa-signal"></i> </a> </li>
                                                    </ul>
                                                </div>
                                                <!-- /.action -->
                                            </div>
                                            <!-- /.cart -->
                                        </div>
                                        <!-- /.product -->

                                    </div>
                                    <!-- /.products -->
                                </div>
                                <!-- /.item -->
                            }
                    </div>

                    <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.scroll-tabs -->
    <!-- ============================================== SCROLL TABS : END ============================================== -->
    <!-- ============================================== WIDE PRODUCTS ============================================== -->
    <div class="wide-banners wow fadeInUp outer-bottom-xs">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="wide-banner cnt-strip">
                    <div class="image"> <img class="img-responsive" src="~/img/banner/banner_1.jpg" alt=""> </div>
                </div>
                <!-- /.wide-banner -->
            </div>
            <!-- /.col -->
            <div class="col-md-5 col-sm-5">
                <div class="wide-banner cnt-strip">
                    <div class="image"> <img class="img-responsive" src="~/img/banner/banner_2.jpg" alt=""> </div>
                </div>
                <!-- /.wide-banner -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.wide-banners -->
    <!-- ============================================== WIDE PRODUCTS : END ============================================== -->
    <!-- ============================================== FEATURED PRODUCTS ============================================== -->
    <section class="section featured-product wow fadeInUp">
        <h3 class="section-title">Sản phẩm mới</h3>
        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
            @foreach (var sanpham in ListNewProduct)
            {
                <div class="item item-carousel">
                    <div class="products">
                        <div class="product">
                            <div class="product-image">
                                <div class="image"> <a href="#"><img src="~/img/sanpham/@sanpham.Image" alt=""></a> </div>
                                <!-- /.image -->
                            </div>
                            <!-- /.product-image -->

                            <div class="product-info text-left">
                                <h3 class="name"><a asp-action="Details" asp-controller="Product" asp-route-slug="@sanpham.Slug">@sanpham.Name</a></h3>
                                <div class="description"></div>
                                <div class="product-price"> <span class="price"> @sanpham.Price.ToString("N0")VNĐ </span> </div>
                                <!-- /.product-price -->

                            </div>

                            <div class="cart clearfix animate-effect">
                                <div class="action">
                                    <ul class="list-unstyled">
                                        <li class="add-cart-button btn-group">
                                            @if (sanpham.Quantity > 0)
                                            {
                                                <button class="btn btn-primary icon ajax-add-to-cart" data-id="@sanpham.Id"> <i class="fa fa-shopping-cart"></i> </button>
                                                <a class="btn btn-primary cart-btn">Thêm vào giỏ hàng</a>
                                            }
                                            else
                                            {
                                            <li class="lnk wishlist"> <a style="color:#d9534f;" class="add-to-cart outstock" title="Hết hàng"> <i class="fas fa-window-close inner-right-vs"></i> </a> </li>
                                             }

                                            <li class="lnk wishlist"> <a class="add-to-cart" asp-controller="wishlist" asp-action="addwishtlist" asp-route-id="@sanpham.Id" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                            <li class="lnk"> <a class="add-to-cart" asp-controller="product" asp-action="details" asp-route-slug="@sanpham.Slug" title="Chi tiết"> <i class="fa fa-signal"></i> </a> </li>
                                        </ul>
                                    </div>
                                    <!-- /.action -->
                                </div>
                                <!-- /.product-info -->
                                <!-- /.cart -->
                            </div>
                            <!-- /.product -->

                        </div>
                        <!-- /.products -->
                    </div>
                    <!-- /.item -->
                }
        </div>
        <!-- /.home-owl-carousel -->
    </section>
    <!-- /.section -->
    <!-- ============================================== FEATURED PRODUCTS : END ============================================== -->
    <!-- ============================================== WIDE PRODUCTS ============================================== -->
    <div class="wide-banners wow fadeInUp outer-bottom-xs">
        <div class="row">
            <div class="col-md-12">
                <div class="wide-banner cnt-strip">
                    <div class="image"> <img class="img-responsive" src="~/img/banner/banner_3.jpg" alt=""> </div>
                    <div class="strip strip-text">
                        <div class="strip-inner">
                            <h2 class="text-right">
                                New Mens Fashion<br>
                                <span class="shopping-needs">Save up to 40% off</span>
                            </h2>
                        </div>
                    </div>
                    <div class="new-label">
                        <div class="text">NEW</div>
                    </div>
                    <!-- /.new-label -->
                </div>
                <!-- /.wide-banner -->
            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.wide-banners -->
    <!-- ============================================== WIDE PRODUCTS : END ============================================== -->
    <section class="section latest-blog outer-bottom-vs wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        <h3 class="section-title">Danh sách bài viết</h3>
        <div class="blog-slider-container outer-top-xs">
            <div class="owl-carousel blog-slider custom-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 4140px; left: 0px; display: block;">
                        @foreach (var item in Blog)
                        {
                            <div class="owl-item" style="width: 414px;">
                                <div class="item">
                                    <div class="blog-post">
                                        <div class="blog-post-image">
                                            <div class="image"> <a asp-action="Details" asp-controller="Blog" asp-route-slug="@item.Slug"><img src="~/img/blogs/@item.Image" alt=""></a> </div>
                                        </div>
                                        <!-- /.blog-post-image -->

                                        <div class="blog-post-info text-left">
                                            <h3 class="name"><a asp-action="Details" asp-controller="Blog" asp-route-slug="@item.Slug">@item.Title</a></h3>
                                            <span class="info"> &nbsp;|&nbsp; @item.PostedDate </span>
                                            <a asp-action="Details" asp-controller="Blog" asp-route-slug="@item.Slug" class="lnk btn btn-primary">Xem thêm</a>
                                        </div>
                                        <!-- /.blog-post-info -->

                                    </div>
                                    <!-- /.blog-post -->
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div>
            </div>
            <!-- /.owl-carousel -->
        </div>
        <!-- /.blog-slider-container -->
    </section>
</div>