<!DOCTYPE html>
<html lang="vi">
<partial name="_HeadPartial.cshtml" />
@RenderSection("CSS", false)
<body id="page-top">
    <div id="wrapper">
        <partial name="_SideBarPartial.cshtml" />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_HeaderPartial.cshtml" />
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <partial name="_FooterPartial.cshtml" />
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top" style="display: inline;">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
</html>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success notification">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger notification">
        @TempData["Error"]
    </div>
}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="~/Admin/js/sb-admin-2.min.js"></script>
<script type="text/javascript" src="~/Admin/js/ckeditor5/build/ckeditor.js"></script>
<script src="~/Admin/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)