@model CartViewModel

<h2>GIỎ HÀNG</h2>

@if (Model.CartItems.Count > 0)
{
    int stt = 1;
    <table class="table">
        <tr>
            <th>#</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng cộng</th>
            <th></th>
        </tr>
        @foreach (var cartitem in Model.CartItems)
        {
            <tr>
                <td>@(stt++)</td>
                <td><img class="img-thumbnail" src="~/img/sanpham/@cartitem.Image" /></td>
                <td>@cartitem.ProductName</td>
                <td>@(cartitem.Price.ToString("n0"))</td>
                <td colspan="4" class="text-right">Tổng tiền:  @cartitem.Total</td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right">Tổng tiền</td>
            <td colspan="4" class="text-right">Tổng tiền:  @Model.GrandTotal.ToString("N0")</td>
            <td></td>
        </tr>
    </table>
}
<div class="section group">
    <div class="col-md-6">
        @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
        {
            <div class="form-group">
                <label>Người nhận hàng</label>
                <input name="shipName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Điện thoại</label>
                <input name="phone" class="form-control" />
            </div>
            <div class="form-group">
                <label>Địa chỉ nhận hàng</label>
                <input name="shipAdress" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" class="form-control" />
            </div>
            <button asp-controller="Cart" asp-action="Clear" class="btn btn-success" type="submit">Gửi đơn hàng</button>
        }

    </div>
</div>
@section Scripts {

    <script>
    $(function () {

        $("a.checkout").click(function (e) {
            e.preventDefault();

            $("div.cartbg").removeClass("d-none");

            $.get("/cart/clear", {}, function () {              
            });

        });

    });
    </script>

}