@model CartViewModel
@{
    ViewData["Title"] = "Giỏ Hàng";
}
<h2>GIỎ HÀNG</h2>
<div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
    @if (Model.CartItems.Count > 0)
    {
        int stt = 1;
        <table class="table">
            <tr>
                <th>STT</th>
                <th>Hình ảnh</th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Thành tiền</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var cartitem in Model.CartItems)
            {
        <tr>
            <td>@(stt++)</td>
            <td><img style="width:200px;height:200px;" src="~/img/sanpham/@cartitem.Image" /></td>
            <td>@cartitem.ProductName</td>
            <td>@cartitem.Quantity</td>
            <td>
                @(cartitem.Price.ToString("n0"))
                <a asp-action="AddCart" asp-route-id="@cartitem.ProductId" class="btn btn-sm btn-primary">+</a>
                <a asp-action="Decrease" asp-route-id="@cartitem.ProductId" class="btn btn-sm btn-success">-</a>
                <a asp-action="Remove" asp-route-id="@cartitem.ProductId" class="btn btn-sm btn-danger">Xóa giỏ hàng</a>
            </td>
            <td>
                @cartitem.Total.ToString("N0")
            </td>
            <td colspan="4" class="text-right">Tổng tiền:  @Model.GrandTotal.ToString("C2")</td>

        </tr>
            }
        </table>
        <div class="container">
            <a class="btn btn-success " asp-controller="Cart" asp-action="CheckOut">Thanh toán</a>
        </div>
    }
    else
    {
<p class="alert alert-danger">Giỏ hàng của bạn đang trống!</p>
    }
</div>
<br />