@model CartViewModel
@{
    ViewData["Title"] = "Giỏ Hàng";
}
<h2>GIỎ HÀNG</h2>
<div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
    @if (Model.CartItems.Count > 0)
    {
        int stt = 1;
        <table class="table">
            <tr>
                <th>STT</th>
                <th>Hình ảnh</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var cartitem in Model.CartItems)
            {
                <tr>
                    <td>@(stt++)</td>
                    <td><img class="img-thumbnail" src="~/img/sanpham/@cartitem.Image" /></td>
                    <td>@cartitem.ProductName</td>
                    <td>@(cartitem.Price.ToString("n0"))</td>
                    <td>@cartitem.Quantity</td>
                    <td>
                        <div class="quant-input">
                            <div class="arrows">
                                <div class="arrow plus gradient"><span asp-action="AddCart" asp-route-id="@cartitem.ProductId" class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
                                <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
                            </div>
                            <input type="text" value="1">
                        </div>
                    </td>
                    <td colspan="4" class="text-right">Tổng tiền:  @Model.GrandTotal.ToString("C2")</td>
                    <td>
                        <a asp-action="AddCart" asp-route-id="@cartitem.ProductId" class="btn btn-sm btn-primary">+</a>
                        <a asp-action="Decrease" asp-route-id="@cartitem.ProductId" class="btn btn-sm btn-success">-</a>
                        <a asp-action="Remove" asp-route-id="@cartitem.ProductId" class="btn btn-sm btn-danger">Remove</a>
                    </td>
                </tr>
            }
        </table>
        <a class="btn btn-success fa-align-right" asp-controller="Cart" asp-action="CheckOut">Check Out</a>
    }
    else
    {
        <p class="alert alert-danger">Your Cart is empty</p>
    }
</div>
<br />
@*<div class="shopping-cart-btn">
        <span class="">
            <a asp-action="Index" asp-controller="Home" class="btn btn-upper btn-primary outer-left-xs">Tiếp tục mua sắm</a>
        </span>
    </div>*@