@model CartViewModel
@{
    ViewData["Title"] = "Giỏ Hàng";
}
<h2>GIỎ HÀNG</h2>
    @if (Model.CartItems.Count > 0)
    {
        <div class="shopping-cart">
    <div class="shopping-cart-table ">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>STT</th>
                        <th class="cart-description item">Hình ảnh</th>
                        <th class="cart-product-name item">Tên sản phẩm</th>
                        <th class="cart-qty item">Số lượng</th>
                        <th class="cart-sub-total item">Giá</th>
                        <th class="cart-total last-item">Thành tiền</th>
                        <th class="cart-romove item">Xóa</th>
                    </tr>
                </thead><!-- /thead -->
                <tbody>
                    @foreach (var cartitem in Model.CartItems)
                    {
                        <tr>
                            <td></td>
                            <td class="cart-image">
                                <a class="entry-thumbnail">
                                    <img src="~/img/sanpham/@cartitem.Image" alt="">
                                </a>
                            </td>
                            <td class="cart-product-name-info">
                                <h4 class="cart-product-description"><span>@cartitem.ProductName</span></h4>
                            </td>
                            <td class="cart-product-quantity">
                                <div class="cart-quantity">
                                    <div class="quant-input">
                                        <div class="arrows">
                                            <a  data-id="@cartitem.ProductId" class="arrow plus gradient plus-a"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></a>
                                            <a  data-id="@cartitem.ProductId"  class="arrow minus gradient Decrease-a"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></a>
                                        </div>
                                        <input type="number" value="@cartitem.Quantity" max="@cartitem.Quantity">
                                    </div>
                                </div>
                            </td>
                            <td class="cart-product-sub-total"><span class="cart-sub-total-price">@cartitem.Price.ToString("N0") VNĐ</span></td>
                            <td class="cart-product-grand-total"><span class="cart-grand-total-price">@cartitem.Total.ToString("N0") VNĐ</span></td>
                            <td class="romove-item"><a data-id="@cartitem.ProductId" title="cancel" class="icon Remove-a"><i class="fa fa-trash-o"></i></a></td>

                        </tr>
                    }
                </tbody><!-- /tbody -->
            </table><!-- /table -->
        </div>
    </div><!-- /.shopping-cart-table -->
    <div class="col-md-4 col-sm-12 estimate-ship-tax"></div>
    <div class="col-md-4 col-sm-12 estimate-ship-tax"></div>
    <div class="col-md-4 col-sm-12 cart-shopping-total">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="cart-grand-total">
                            Tổng tiền<span class="inner-left-md">@Model.GrandTotal.ToString("N0") VNĐ</span>
                        </div>
                    </th>
                </tr>
            </thead><!-- /thead -->
            <tbody>
                <tr>
                    <td>
                        <div class="cart-checkout-btn pull-right">
                            <a asp-controller="Cart" asp-action="CheckOut" class="btn btn-primary checkout-btn">Thanh toán</a>
                        </div>
                    </td>
                </tr>
            </tbody><!-- /tbody -->
        </table><!-- /table -->
    </div>
</div>      
    
    }
    else
    {
<p class="alert alert-danger">Giỏ hàng của bạn đang trống!</p>
    }
<br />